<h1><%= sandwich.sandwichName %></h1>

<h4><%= sandwich.description %></h4>

<h2>In Stock: <%= sandwich.available ? "YES" : "NO" %></h2>

<h3>PRICE: <%= sandwich.price %></h3>

<h4>Available at: <%= sandwich.restaurantName %> - <%= sandwich.location %></h4>

<form action="/sandwich/<%= sandwich._id %>?_method=DELETE" method="post">
    <input type="submit" value="delete">
</form>

<a href="/sandwich"><button><h5>BACK TO SANDWICHES</h5></button></a>